.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.showCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.showCardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.showImage {
  object-fit: fill;
  height: 350px;
  width: 100%;
}
